:root {
  --main-white: #f1f1f1b6;
  --main-red: #af002d;
  --main-orange: #ff7a18;
  --main-red: #af002d;
  --main-cyan: #319197;
  --transition: all 0.3s ease-in-out;
  --yellow-background: #2c2c2c;
  --selection: #1e1e1e;
  --green-navbar-hover: #c5efdc;
  --pink: #dd3988;
  --pink-shadow: #791f4d;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Atkinson';
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: normal;
  color: var(--main-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.517);
}

main {
  flex: 1;
}

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/public/fonts/atkinson/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/public/fonts/atkinson/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
