---

---

<section id="about" class="about-me-container section">
  <p>
    <strong>I</strong> have <strong>alw</strong>ays <strong>be</strong
    >en <strong>fasc</strong>inated <strong>by</strong> technology. <strong
      >I</strong
    > built <strong>comp</strong>uters <strong>as</strong> a <strong
      >ki</strong
    >d, <strong>whi</strong>ch <strong>lat</strong>er <strong
      >le</strong
    >d <strong>me</strong> to <strong>a</strong>
    <strong>jo</strong>b <strong>in</strong> an <strong>e-comm</strong
    >erce <strong>comp</strong>any <strong>spec</strong>ializing <strong
      >in</strong
    > hardware. <strong>My</strong>
    <strong>int</strong>erest <strong>in</strong>
    <strong>comp</strong>uter <strong>comp</strong>onents
    <strong>nat</strong>urally <strong>to</strong>ok <strong
      >me</strong
    > to <strong>a</strong>
    <strong>proc</strong>urement <strong>ro</strong>le <strong
      >for</strong
    > a <strong>lea</strong>ding <strong>Scan</strong>dinavian <strong
      >ret</strong
    >ailer, <strong>whe</strong>re <strong>I</strong>
    <strong>cou</strong>ld <strong>ble</strong>nd
    <strong>my</strong>
    <strong>pas</strong>sion <strong>and</strong>
    <strong>exp</strong>ertise.
  </p>
  <p>
    <strong>At</strong>
    <strong>the</strong>
    <strong>ag</strong>e <strong>of</strong> 29, <strong>I</strong>
    <strong>tran</strong>sitioned <strong>to</strong>
    <strong>soft</strong>ware <strong>and</strong>
    <strong>pur</strong>sued <strong>a</strong>
    <strong>bach</strong>elor's <strong>deg</strong>ree <strong
      >in</strong
    >
    <strong>info</strong>rmation
    <strong>tech</strong>nology <strong>in</strong> Oslo, <strong
      >spec</strong
    >ializing <strong>in</strong>
    {' '}
    <a
      href={'https://www.kristiania.no/studier/bachelor/informasjonsteknologi-frontend-og-mobilutvikling/'}
      target={'_blank'}
      aria-label={'open course link'}
    >
      <span
        ><strong>fro</strong>ntend <strong>and</strong>
        <strong>mob</strong>ile <strong>dev</strong>elopment</span
      >
    </a>
    <strong>I</strong>
    <strong>fou</strong>nd <strong>sat</strong>isfaction <strong
      >in</strong
    >
    <strong>the</strong>
    <strong>use</strong>r-centric <strong>asp</strong>ect <strong
      >of</strong
    >
    <strong>fro</strong>ntend <strong>wo</strong>rk, <strong
      >wri</strong
    >ting <strong>co</strong>de <strong>to</strong>
    <strong>cre</strong>ate <strong>eng</strong>aging
    <strong>and</strong>
    <strong>int</strong>uitive <strong>int</strong>erfaces <strong
      >is</strong
    >
    <strong>my</strong>
    <strong>go</strong>al. <strong>Exp</strong>loring <strong
      >the</strong
    >
    <strong>nua</strong>nces <strong>of</strong>
    <strong>ser</strong>ver <strong>and</strong>
    <strong>cli</strong>ent <strong>tech</strong>nologies, <strong
      >I</strong
    >
    <strong>am</strong>
    <strong>eng</strong>aged <strong>in</strong>
    <strong>enh</strong>ancing <strong>us</strong>er <strong
      >exp</strong
    >eriences <strong>to</strong>
    <strong>the</strong>ir <strong>utm</strong>ost <strong>pot</strong
    >ential. <strong>I</strong>
    <strong>am</strong>
    <strong>int</strong>rigued <strong>by</strong>
    <strong>ho</strong>w <strong>var</strong>ious <strong>tech</strong
    >nologies
    <strong>int</strong>erconnect <strong>beh</strong>ind <strong
      >the</strong
    >
    <strong>sce</strong>nes, <strong>comm</strong>unicating <strong
      >wi</strong
    >th <strong>ea</strong>ch <strong>oth</strong>er, <strong
      >to</strong
    >
    <strong>sea</strong>mlessly <strong>ful</strong>fill <strong
      >us</strong
    >er <strong>nee</strong>ds.
  </p>
  <p>
    <strong>Wh</strong>en <strong>I'm</strong>
    <strong>no</strong>t <strong>prog</strong>ramming, <strong
      >yo</strong
    >u <strong>ca</strong>n <strong>fi</strong>nd <strong>me</strong>
    <strong>cas</strong>ting <strong>a</strong>
    <strong>fl</strong>y <strong>li</strong>ne <strong>by</strong>
    <strong>the</strong>
    <strong>co</strong>ast 🎣 <strong>exp</strong>loring <strong
      >vir</strong
    >tual
    <strong>wor</strong>lds 🎮 <strong>str</strong>ategizing <strong
      >ov</strong
    >er <strong>a</strong>
    <strong>bo</strong>ard <strong>ga</strong>me 🎲 <strong>or</strong
    >
    <strong>car</strong>ving <strong>thr</strong>ough <strong
      >the</strong
    >
    <strong>sn</strong>ow <strong>on</strong>
    <strong>my</strong>
    <strong>sk</strong>is⛷️.
  </p>
  <p class="bionic-reading-info">
    <strong>No</strong>te: <strong>Th</strong>is <strong>te</strong>xt <strong
      >us</strong
    >es <strong>the</strong>
    <strong>Bio</strong>nic <strong>Rea</strong>ding <strong
      >tech</strong
    >nique, <strong>whi</strong>ch <strong>bo</strong>lds <strong
      >the</strong
    >
    <strong>fir</strong>st <strong>fe</strong>w <strong>let</strong
    >ters <strong>of</strong>
    <strong>ea</strong>ch <strong>wo</strong>rd. <strong>Th</strong>is <strong
      >met</strong
    >hod <strong>ai</strong>ms <strong>to</strong>
    <strong>gui</strong>de <strong>yo</strong>ur <strong>ey</strong>e <strong
      >and</strong
    >
    <strong>pot</strong>entially <strong>imp</strong>rove <strong
      >rea</strong
    >ding <strong>spe</strong>ed <strong>and</strong>
    <strong>comp</strong>rehension.
  </p>
</section>

<style>
  .about-me-container {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    z-index: 1;
    margin-bottom: 5rem;
    p,
    a {
      font-family: 'Atkinson Regular', sans-serif;
      font-size: 1.35rem;
      text-decoration: none;
      font-weight: 400;
    }

    a {
      position: relative;
      text-decoration: none;
      display: inline;
      z-index: 0;
      border-bottom: 2px solid transparent;
      background-image: linear-gradient(
        130deg,
        var(--main-orange),
        var(--main-red) 41.07%,
        var(--main-cyan) 76.05%
      );
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: bottom;
      border-radius: 0 0 2px 2px;
      transition: background-size 0.17s
        cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        background-size: 100% 38%;
      }
    }

    @media (min-width: 50em) {
      padding-left: 4rem;
      padding-right: 4rem;
      h2 {
        font-size: 2rem;
      }
      p,
      a {
        font-size: 2rem;
      }
    }
  }
  .bionic-reading-info {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 2rem;
    padding: 1rem;
  }
</style>
