---

---

<section id="about" class="about-me-container section text-glow">
  <p>
    I have always been fascinated by technology. I built computers as a kid, which later led me to a job in an e-commerce company specializing in hardware. My interest in computer components naturally took me to a procurement role for a leading Scandinavian retailer, where I could blend my passion and expertise.
  </p>
  <p>
    At the age of 29, I transitioned to software and pursued a bachelor's degree in information technology in Oslo, specializing in {' '}
    <a
      href={'https://www.kristiania.no/studier/bachelor/informasjonsteknologi-frontend-og-mobilutvikling/'}
      target={'_blank'}
      aria-label={'open course link'}
    >
      <span>frontend and mobile development</span>
    </a>.{" "}I’m all about building intuitive, engaging interfaces and love digging into how server and client tech connect to make great user experiences happen.
  </p>
  <p>
    When I'm not programming, you can find me casting a fly line by the coast 🎣 exploring virtual worlds 🎮 strategizing over a board game 🎲 or carving through the snow on my skis⛷️.
  </p>
</section>

<style>
  .about-me-container {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    z-index: 1;
    margin-bottom: 5rem;

    p, span {
      font-size: 1.125rem;
      font-family: 'Intel One Mono', monospace;
    }

    a {
      position: relative;
      text-decoration: none;
      display: inline;
      z-index: 0;
      border-bottom: 2px solid transparent;
      background-image: linear-gradient(
        130deg,
        var(--main-orange),
        var(--main-red) 41.07%,
        var(--main-cyan) 76.05%
      );
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: bottom;
      border-radius: 0 0 2px 2px;
      transition: background-size 0.17s
        cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        background-size: 100% 38%;
      }
    }

    @media (min-width: 50em) {
      border-radius: 1rem;@
      padding-left: 4rem;
      padding-right: 4rem;
      h2 {
        font-size: 2rem;
      }
      p,
      span {
        font-size: 1.5rem;
      }
    }
  }
</style>
