---
import RuneOliveira from '../misc/rune-oliveira.astro';
---

<section id="intro" class="intro-text-container section">
  <div class="intro-text-box">
    <div>
      <RuneOliveira />
    </div>
    <div>
      <h2 class="text-glow">software engineer</h2>
    </div>
    <div>
      <h3 class="text-glow">based in Oslo, coding for the media industry</h3>
    </div>
  </div>
  <style>
    .intro-text-container {
      height: 100svh;
      margin-bottom: 6rem;
    }

    .intro-text-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .intro-text-box h1 {
      font-family: 'Satoshi Light', serif;
      font-size: 4rem;
      letter-spacing: -0.07em;
      color: #dee0d7;
      text-transform: lowercase;
      letter-spacing: 10px;
    }

    .intro-text-box h2 {
      font-family: 'Satoshi Light', serif;
      font-size: 3rem;
      letter-spacing: 0.04em;
      -webkit-background-clip: text;
      position: relative;
      display: inline-block;
      color: #dee0d7;
    }

    .intro-text-box h3 {
      font-family: 'Satoshi Light', serif;
      background: none;
      font-size: 2.3rem;
      color: #dee0d7;
    }

    @media (min-width: 50em) {
      .intro-text-container {
        margin-bottom: 0;
      }
      .intro-text-box h1 {
        font-size: 6rem;
      }

      .intro-text-box h2 {
        font-size: 3.5rem;
      }

      .intro-text-box h3 {
        font-size: 2.6rem;
        margin-bottom: 80px;
      }
    }

    @media (min-width: 70em) {
      .intro-text-box h1 {
        font-size: 7.6rem;
      }

      .intro-text-box h2 {
        font-size: 4.5rem;
      }

      .intro-text-box h3 {
        font-size: 3.5rem;
      }
    }
  </style>
</section>
