<footer class="footer-container">
  <div class="footer-content">
    <div class="social-media-container">
      <ul class="footer-ul">
        <li>
          <a
            href="https://www.linkedin.com/in/rune-daniel-jacobsen-oliveira/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="open linkedin profile"
          >
            <!-- LinkedIn icon class="icon-link & linkedin" -->
          </a>
        </li>
        <li>
          <a
            href="https://github.com/runejac"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="open github profile"
          >
            <!-- GitHub icon class="icon-link & github-link" -->
          </a>
        </li>
      </ul>
    </div>
    <div class="designed-by-container">
      <a
        href="https://github.com/runejac/runeportfolio_next"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="open this website's github source code"
      >
        Designed & built by Rune Oliveira
      </a>
    </div>
    <div class="copyright-container">
      <p>
        © {new Date().getFullYear()} - Rune Oliveira
      </p>
    </div>
  </div>
</footer>
<style>
  .footer-container {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(#010500, #0105006b), url('/public/images/mac-code.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 75%;
    overflow: hidden;
    margin-top: auto; /* Changed from margin-top: 2rem */
    position: relative; /* Added */
    bottom: 0; /* Added */
    left: 0; /* Added */
  }

  .footer-content {
    display: flex;
    position: relative;
    background: none;
    width: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    padding-left: 2rem;
    z-index: 1;
  }

  .social-media-container {
    background: none;
    width: fit-content;
  }

  .footer-ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    background: none;

    li,
    a {
      background: none;
    }
  }

  .icon-link {
    width: 32px;
    position: relative;
    font-size: 2rem;
    background: none;
    transition: var(--transition);

    &:hover {
      transform: translateY(-3px);
      transition: var(--transition);
    }
  }

  .designed-by-container {
    background: none;
  }

  .designed-by-container > a {
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright-container {
    background: none;
    display: flex;
    flex-direction: column;
  }

  .copyright-container > p {
    background: none;
    font-size: 0.8rem;
    position: relative;
  }

  @media (min-width: 50em) {
    .designed-by-bontainer > a:hover {
      transition: var(--transition);
    }
  }

  @media screen and (max-width: 768px) {
    .footer-container {
      background-size: 230%;
      background-position: 20% 50%;
    }
  }
</style>
