<section class="intro-text-container">
  <div class="intro-text-box">
    <div>
      <h1>Rune Oliveira</h1>
    </div>
    <div>
      <h2>front-end engineer</h2>
    </div>
    <div>
      <h3>based in Oslo, coding for the media industry</h3>
    </div>
  </div>
  <style>
    .intro-text-container {
      display: flex;
      background: none;
      height: 100svh;
      flex-direction: row;
      margin-bottom: 2.5rem;
      padding-bottom: 3rem;
    }

    .awesome-content {
      z-index: 1;
      display: none;
    }

    .intro-text-box {
      display: flex;
      flex-direction: column;
      background: none;
      justify-content: space-between;
    }

    .intro-text-box div {
      background: none;
      color: #ffffff;
      width: fit-content;
    }

    .intro-text-box h1 {
      font-family: 'Messapia Bold', serif;
      font-size: 3.17rem;
      letter-spacing: -0.07em;
      color: rgba(255, 255, 255, 0.77);
      text-transform: uppercase;
    }

    .intro-text-box h2 {
      font-family: 'Satoshi Light', serif;
      font-size: 3rem;
      letter-spacing: 0.04em;
      -webkit-background-clip: text !important;
      position: relative;
      display: inline-block;
    }

    .intro-text-box h3 {
      font-family: 'Satoshi Light', serif;
      background: none;
      font-size: 2.3rem;
    }

    @media (min-width: 40em) {
      .intro-text-box {
        justify-content: space-around;
      }

      .intro-text-box h1 {
        font-size: 6rem;
      }

      .intro-text-box h2 {
        font-size: 3.5rem;
      }

      .intro-text-box h3 {
        font-size: 2.6rem;
      }
    }

    @media (min-width: 70em) {
      .intro-text-box h1 {
        font-size: 7.6rem;
      }

      .intro-text-box h2 {
        font-size: 4.5rem;
      }

      .intro-text-box h3 {
        font-size: 3.5rem;
      }
    }
  </style>
</section>
