---
import GlobalStyles from '@/styles/GlobalStyles.astro';
import BaseHead from '@/components/layout/BaseHead.astro';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Rune Oliveira"
      description="Welcome fellow friend. I am a Software Engineer based in Oslo, Norway, focusing on user-centric development with specialization in frontend development."
    />
    <GlobalStyles />
  </head>

  <body>
    <div class="background"></div>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body><div id="container3D"></div>
  <script type="module" src="/src/scripts/phoenix.ts"></script>
</html>
